h2,h3,h4,p{
    padding: 0;
    margin: 5px;
}
.sectionDetails{
    padding: 10px;
}
.movieDetail{
    display: flex;
    padding-bottom: 5px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}
.list{
    margin-left: 15px;
    padding-left: 0;
    display: flex;
    list-style: none;
}
.movieInfo{
    margin-left: 10px;
}
.addInfoSub{
    text-decoration: none;
}
.genres{
    display: flex;
}
.addLink{
    margin-right: 10px;
    padding: 5px 10px;
    color: yellowgreen;
    /* color: yellow; */
    background-color: brown;
    border-radius: 8px;
    transition: all 500ms;
}
.addLink:hover, .goBack:hover,
.addLink:focus, .goBack:focus{
    box-shadow: rgba(165, 42, 42, 0.8) 0px 4px 16px, rgba(165, 42, 42, 0.4) 0px 8px 32px;
}
.goBack{
    background-color: brown;
    color: yellowgreen;
    border: none;
    border-radius: 8px;
    padding: 7px 10px;
    margin: 0 0 15px 30px;
    cursor:pointer;
    transition: all 500ms;
}