/* ul{
    list-style: none;
} */
a, a:visited{
    color:black;
    text-decoration: none;
}
/* .section{
    background-color: aqua;
} */
.films{
    display: flex;
    flex-direction: column;
}
.filmsList{
    padding: 5px;
}
.titleH{
    margin-left: 30px;
}