.films{
    display: flex;
    flex-direction: column;
}
.filmsList{
    padding: 5px;
}
.titleH{
    margin-left: 30px;
}
.movieTitle{
    color: black;
    transition: all 500ms;
    padding: 0 5px 2px 5px;
    border-radius: 5px;
}
.movieTitle:hover,
.movieTitle:focus{
    color:  rgb(169, 257, 54);
    background-color: brown;
}