.castList{
    padding: 0;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 40px;
    justify-content: center;
    list-style: none;
}
.castItem{
    flex-basis: 180px;
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* box-shadow: -2px -2px 5px #ffffff, 3px 3px 5px rgba(0, 0, 0, 0.1); */
}
.actorName{
    font-weight: 700;
}