body{
    text-decoration: none;
}
.header{
    height: 50px;
    max-width: 99vw;
    padding: 10px;
    margin-bottom: 30px;
    background-color: cornflowerblue;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.headerUl{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.navItem{
    list-style: none;
    padding: 10px;
}    
.navItem:first-child{
    margin-right: 20px;
}
.page{
    padding: 5px 10px;
}